.Main {
  background-color: #d8d8d8;
  height: 100vh;
}

.CardList {
  display: flex;
  padding: 24px;
}

.Card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3A8AC0;
  font-size: 14px;
  color: #fff;
  margin-left: 24px;
}

.Card:first-child {
  margin-left: 0;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 24px;
  font-weight: 500;
}

.Description {
  margin-top: 4px;
  font-size: 16px;
}

.Temperature {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;
}

.Temperature:after {
    content: "°";
}

.Information {
  margin-top: 12px;
}
.Information > div {
  margin-top: 4px;
}